github "ReactiveCocoa/ReactiveCocoa" ~> 5.0
github "moya/Moya" ~> 8.0
github "aloco/SimpleButton" ~> 3.0
github "lyft/Mapper" ~>6.0
github "aschuch/ReactiveMapper" ~> 1.0

github "mbuchetics/DataSource"
github "aschuch/StatefulViewController"

github "kishikawakatsumi/KeychainAccess" ~> 3.0
