<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>207162902306-evd4hmlq888aeak2knis8gtt54gav41k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207162902306-evd4hmlq888aeak2knis8gtt54gav41k</string>
	<key>API_KEY</key>
	<string>AIzaSyDx6YRra3qtDsF2YJzDqCSJwFn9Y84h5q8</string>
	<key>GCM_SENDER_ID</key>
	<string>207162902306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.allaboutapps.Example</string>
	<key>PROJECT_ID</key>
	<string>ios-example-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-example-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207162902306:ios:84840f20451212dd</string>
	<key>DATABASE_URL</key>
	<string>https://ios-example-app.firebaseio.com</string>
</dict>
</plist>